@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #27272a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #71717a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #84cc16;
}

/* -----Transitions----- */
@property --progress-value {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
}

@keyframes progress {
    to {
        --progress-value: var(--val);
    }
}

.skill-animation::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage);
    animation: progress 2s 1 forwards;
}

.skill-progress-bar {
    background: radial-gradient(closest-side,
            #18181b 89%,
            transparent 90% 100%),
        conic-gradient(white calc(var(--progress-value) * 1%), #3f3f46 0);
}

.skill-box:hover .skill-progress-bar {
    background: radial-gradient(closest-side,
            #18181b 79%,
            transparent 80% 100%),
        conic-gradient(#84cc16 calc(var(--progress-value) * 1%), #3f3f46 0);
}

.skill-animation {
    animation: progress 2s 1 forwards;
}