@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----Scrollbar----- */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #27272a;
}

::-webkit-scrollbar-thumb {
  background: #71717a;
}

::-webkit-scrollbar-thumb:hover {
  background: #84cc16;
}

/* -----Transitions----- */

.dotted-bg {
  background-image: radial-gradient(#84cc16 1px, transparent 1px);
  background-size: 1.25rem 1.25rem;
}
